/*
 * @Author: dyb-dev
 * @Date: 2024-04-29 20:26:35
 * @LastEditors: dyb-dev
 * @LastEditTime: 2024-09-02 17:04:44
 * @FilePath: /lib-docs-template/src/styles/scss-var.scss
 * @Description: scss全局变量文件
 */
